@import './variables';

/********* GENERAL *********/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing:antialiased;
    color: $white;
    overflow: hidden;
}

section {
    position: absolute;
}