@import './variables';

/********* GENERAL *********/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing:antialiased;
    color: $white;
    overflow: hidden;
    @media all and (max-width: $mobile) {
        background: $black;
    }
}

section {
    position: absolute;
    overflow: hidden;
    @media all and (max-width: $mobile) {
        overflow-y: visible;
    }
}

.link:hover {
    color: $main1;
    transition: all 500ms ease;
}