@import './variables';

/********* MAIN *********/

.main {
    width: 100%;
    height: 100%;
    background: $black;
    color: $white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.main__box {
    border-right: 0px solid rgba($main2, .1);
    height: 0%;
    grid-row: 1 / span 6; 
    z-index: 1; 
}

.main__box:nth-child(1) {
    grid-column: 1;
}

.main__box:nth-child(2) {
    grid-column: 2;
}

.main__box:nth-child(3) {
    grid-column: 3;
}

.main__box:nth-child(4) {
    grid-column: 4;
}

.main__box::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    bottom: 0;
    background: $black;
}

.main__logo {
    grid-column: 1;
    grid-row: 1;
    padding: 70px 0 0 70px;
    @media all and (max-width: $mobile) {
        padding: 10px 0 0 20px;
    }
}

.logo__h1 {
    width: 190px;
    visibility: hidden;
    font-family: $font1;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom:-10px;
    position: relative;
    transition: all ease 500ms;
}

.logo__h1::after {
    @include after-black;
}

.main__menu {
    z-index: 2;
    visibility: hidden;
    position: relative;
    grid-column: 5;
    grid-row: 1;
    padding: 70px 0 0 70px;
    border-right: 1px solid $lightgray;
    display: flex;
    justify-content: flex-end;
    padding: 70px 70px 0 0;
    @media all and (max-width: $mobile) {
        padding: 20px 20px 0 0;
    }
}

.main__menu::after {
    @include after-black;
}

.menu__h2 {
    font-family: $font1;
    height: 20px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    position: relative;
    transition: all ease 500ms;
}

.menu__h2::before {
    content: '';
    position: absolute;
    width: 57px;
    height: 2px;
    left: -82px;
    top: 7px;
    background: $white;
    transition: all ease 500ms;
}

.menu__h2::after {
    content: '';
    transition: all ease 500ms;
    position: absolute;
    width: 0px;
    height: 2px;
    left: -35px;
    top: 4px;
}

.menu__h2:hover {
    &::before {
        width: 20px;
        left: -35px;
        top: 9px;
        background: $main1;
    }
    &::after {
        width: 20px;
        background: $main1;
    }
}

// MAIN BOTOM

.main__bottom {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 21%;
    background-color: $main1;
    padding: 70px 0 0 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    @media all and (max-width: $mobile) {
        display: none;
    }
}

.main__bottom::after {
    @include after-black;
}

.bottom__numbers {
    width: 175px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.bottom__num:first-child::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    left: 50px;
    top: 7px;
    background: $black;
}

.bottom__num {
    color: $black;
    font-family: $font1;
    font-size: .7em;
    font-weight: 600;
}

// MAIN ITEMS LEFT

.main__items {
    position: relative;
    grid-column: 1;
    grid-row: 3;
    padding: 70px 0 0 70px;
    display: flex;
    justify-content: flex-start;
    @media all and (max-width: $mobile) {
        // padding: 10px 0 0 20px;
        display: none;
    }
}

.items__list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 5em;
}

.items__item {
    font-family: $font1;
    visibility: hidden;
    font-weight: 600;
    font-size: .8em;
    transition: all ease 500ms;
}

.items__item::after {
    @include after-black;
}

// MAIN SCROLL RIGHT

.main__scroll {
    z-index: 10;
    visibility: hidden;
    position: relative;
    grid-column: 5;
    grid-row: 3 / span 1;
    border-right: 1px solid $lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 70px;
    @media all and (max-width: $mobile) {
        display: none;
    }
}

.main__scroll::after {
    @include after-black;
}

.scroll__dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: $white;
    margin-bottom: 2.5em;
    transition: all ease 500ms;
}

.scroll__dot.active {
    transition: all ease 500ms;
    height: 60px;
}

// MAIN CONTENT

.main__content {
    opacity: 0;
    position: relative;
    grid-column: 2 / span 4;
    grid-row: 3 ;
    border-right: 1px solid $lightgray;
    display: flex;
    @media all and (max-width: $mobile) {
        padding: 0 20px;
        flex-direction: column;
        grid-column: 1/span 5;
        grid-row: 2;
    }
}

.main__content[data-slide='1'] {
    opacity: 1;
    z-index: 1;
}

.content__left, .content__right {
    width: 50%;
    position: relative;
    padding: 0 15px;
    @media all and (max-width: $mobile) {
        width: 100%;
    }
}

.content__right {
    visibility: hidden;
}

.content__h1 {
    font-family: $font2;
    visibility: hidden;
    font-size: 2.5em;
    line-height: 1.3em;
    position: relative;
    color: $white;
}

.content__h1::after {
    @include after-black;
}

.content__h4 {
    font-family: $font2;
    visibility: hidden;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 2em;
    position: relative;
    color: $main2;
}

.content__h4::after {
    @include after-black;
}

.profile__img {
    margin-left: 60px;
    width: 40%;
    height: 100%;
    position: relative;
    background: url('../img/profile.png') no-repeat;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @media all and (max-width: $mobile) {
        margin: 200px 0 0 0;
        width: 100%;
        .cutout {
            max-width: 100vw;
        }
    }
}

.content__right::after {
    @include after-black;
    top: -10%;
    height: 130%;
}

.cutout {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(50px);
    -moz-transform: translate(-50%, -50%) translateZ(50px);
    -ms-transform: translate(-50%, -50%) translateZ(50px);
    -o-transform: translate(-50%, -50%) translateZ(50px);
    transform: translate(-50%, -50%) translateZ(50px);
}

.content__techlist {
    position: absolute;
    margin-left: 30px;
}

.content__techitem {
    display: flex;
}

.techitem__img {
    width: auto;
    height: 20px;
    padding-right: 15px;
}

.tech__holder:before {
	content: '';
	float:left;
	margin-top: -10px;
	margin-right: 10px;
	color: rgb(142, 101, 4);
}

.tech__holder:after {
	content: '';
	float:left;
	margin-top: -10px;
	margin-left: 10px;
	color: rgb(142, 101, 4);
}

.tech__slider {
	list-style: none;
	margin-left: -30px;
}

.tech__holder {
	height: 30px;
    overflow: hidden;
    position: absolute;
}

.tech__slider {
    animation: change 20s infinite;
    animation-delay: 2s;
}

.techslider__item {
    display: flex;
    align-items: center;
}

@keyframes change {
	0% { margin-top: 0px; }
	10% { margin-top: 0px; }
	15% { margin-top: $techSlide + px; }
    25% { margin-top: $techSlide + px; }
    30% { margin-top: $techSlide * 2 + px; }
    40% { margin-top: $techSlide * 2 + px; }
    45% { margin-top: $techSlide * 3 + px; }
    55% { margin-top: $techSlide * 3 + px; }
    60% { margin-top: $techSlide * 4 + px; }
    70% { margin-top: $techSlide * 4 + px; }
    75% { margin-top: $techSlide * 5 + px; }
    85% { margin-top: $techSlide * 5 + px; }
    90% { margin-top: $techSlide * 6 + px; }
    95% { margin-top: $techSlide * 6 + px;}
    100% { margin-top: 0; }
}

.learnmore {
    color: $main1;
}

.btn-group {
    display: flex;
    align-items: center;
    visibility: hidden;
    position: relative;
    margin-top:40px;
}

.btn-group::after {
    @include after-black;
}

.btn {
    position: relative;
    text-transform: uppercase;
    font-family: $font1;
    letter-spacing: 1.7px;
    font-size: .8em;
    font-weight: 600;
    color: $main1;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    border: 1px solid $main1;
    padding: 18px 29px;
    line-height: 1.5em;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        background: $main1;
        z-index: -1;
        transition: transform 175ms ease-in;
        transform: scaleX(0);
        transform-origin: left;
    }
    &:hover {
        color: $black;
        &::after {
            transform: scaleX(1);
        }
    }
}

.btn:nth-child(2) {
    margin: 0 25px;
}

.btn--extended {
    font-weight: 500;
    color: $main2;
    font-family: $font2;
}

// CIRCLE BACKGROUND

.circle {
    position: absolute;
    z-index: 0;
    width: 99vh;
    height: 99vh;
    grid-row: 1;
    grid-column: 2;
    margin-left: 5em;
    border-radius: 100%;
    border: 1px solid rgba($main2, .05);
    @media all and (max-width: $mobile) {
        width: 75vw;
        height: 75vw;
        grid-row: 2;
        grid-column: 1;
        margin-left: 20px;
    }
}

.circle__little {
    z-index: 0;
    position: absolute;
    top: 48.5vh;
    left: 48.5vh;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 3px solid rgba($main2, .1);
    @media all and (max-width: $mobile) {
        top: 35vw;
        left: 36vw;
    }
}

.circle__little:nth-child(1) {
    animation: circleAround $circleSpeed infinite linear;
    @media all and (max-width: $mobile) {
        animation: circleAroundMobile $circleSpeed infinite linear;
    }
}

.circle__little:nth-child(2) {
    animation: circleAround $circleSpeed * 1.5 infinite linear;
    @media all and (max-width: $mobile) {
        animation: circleAroundMobile $circleSpeed * 1.5 infinite linear;
    }
}

.circle__little:nth-child(3) {
    animation: circleAround $circleSpeed * 2 infinite linear;
    @media all and (max-width: $mobile) {
        animation: circleAroundMobile $circleSpeed * 2 infinite linear;
    }
}

@keyframes circleAround {
	from {
		transform: rotate(0deg)
		           translate(-49.5vh)
                   rotate(0deg)
	}
	to {
		transform: rotate(360deg)
		           translate(-49.5vh) 
                   rotate(-360deg)
	}
}

@keyframes circleAroundMobile {
	from {
		transform: rotate(0deg)
		           translate(-38vw)
                   rotate(0deg)
	}
	to {
		transform: rotate(360deg)
		           translate(-38vw) 
                   rotate(-360deg)
	}
}