.menu {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
    opacity: 0;
    position: absolute;
}

.menu__list {
    list-style: none;
    text-align: center;
}

.menu__item {
    font-family: $font1;
    font-size: 2.5em;
    color: $main1;
    padding: 1em 0;
}

.menu__item:first-child {
    padding: 0 0 1em 0;
}