@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");
/********* GENERAL *********/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #080808;
}

section {
  position: absolute;
}

/********* INTRO ********/
.intro {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  background: #f1f1f1;
}

.intro__title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 8px;
}

.intro__title::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #f9f9f9;
}

.intro__h1 {
  font-size: 1.22em;
  font-weight: 500;
  color: #080808;
}

.intro__h2 {
  font-size: 1em;
  font-weight: 400;
  color: #080808;
}

.intro__progressbar {
  z-index: 2;
  position: absolute;
  width: 1px;
  height: 0px;
  background: rgba(0, 0, 0, 0.15);
}

.intro__progressbar::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

/********* MAIN *********/
.main {
  width: 100%;
  height: 100%;
  background: #080808;
  color: #f9f9f9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.main__box {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  grid-row: span 5;
}

.main__box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  bottom: 0;
  background: #080808;
}

.main__logo {
  grid-column: 1;
  grid-row: 1;
  padding: 70px 0 0 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.logo__h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
}

.main__menu {
  grid-column: 5;
  grid-row: 1;
  padding: 70px 0 0 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-end;
  padding: 70px 70px 0 0;
}

.menu__h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  position: relative;
}

.menu__h2::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 2px;
  left: -82px;
  top: 9px;
  background: #f9f9f9;
}

.main__bottom {
  position: fixed;
  bottom: 0;
  left: 20%;
  width: 21%;
  background-color: rgba(49, 121, 207, 0.5);
  padding: 70px 0 0 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.bottom__numbers {
  width: 175px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bottom__num:first-child::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  left: 50px;
  top: 7px;
  background: #f9f9f9;
}

.bottom__num {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */