@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Roboto:100,300,400,500,700&display=swap");
/********* MAIN *********/
.main {
  width: 100%;
  height: 100%;
  background: #080808;
  color: #f9f9f9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.main__box {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  grid-row: span 5;
}

.main__box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  bottom: 0;
  background: #080808;
}

.main__logo {
  grid-column: 1;
  grid-row: 1;
  padding: 70px 0 0 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.logo__h1 {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: -10px;
  position: relative;
}

.logo__h1::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.main__menu {
  visibility: hidden;
  position: relative;
  grid-column: 5;
  grid-row: 1;
  padding: 70px 0 0 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: flex-end;
  padding: 70px 70px 0 0;
}

.main__menu::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.menu__h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  position: relative;
}

.menu__h2::before {
  content: "";
  position: absolute;
  width: 57px;
  height: 2px;
  left: -82px;
  top: 9px;
  background: #f9f9f9;
}

.main__bottom {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 20%;
  width: 21%;
  background-color: #f9f9f9;
  padding: 70px 0 0 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.main__bottom::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.bottom__numbers {
  width: 175px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bottom__num:first-child::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  left: 50px;
  top: 7px;
  background: #080808;
}

.bottom__num {
  color: #080808;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

.main__items {
  position: relative;
  grid-column: 1;
  grid-row: 3;
  padding: 70px 0 0 70px;
  display: flex;
  justify-content: flex-start;
}

.items__list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 5em;
}

.items__item {
  visibility: hidden;
  font-weight: 600;
}

.items__item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.main__scroll {
  visibility: hidden;
  position: relative;
  grid-column: 5;
  grid-row: 3/span 1;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 70px;
}

.main__scroll::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.scroll__dot {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #f9f9f9;
  margin-bottom: 2.5em;
}

.scroll__dot:last-child {
  height: 60px;
}

.main__content {
  position: relative;
  grid-column: 2/span 4;
  grid-row: 3;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
}

.content__left, .content__right {
  width: 50%;
  position: relative;
}

.content__right {
  visibility: hidden;
}

.content__h1 {
  visibility: hidden;
  font-size: 3em;
  line-height: 1.5em;
  position: relative;
}

.content__h1::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.content__h4 {
  visibility: hidden;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2em;
  position: relative;
}

.content__h4::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
}

.profile__img {
  margin-left: 60px;
  width: 40%;
  height: 100%;
  position: relative;
  background: url("/profile.f6abe80f.png") no-repeat;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.content__right::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #080808;
  top: -10%;
  height: 200%;
}

.cutout {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(50px);
  -moz-transform: translate(-50%, -50%) translateZ(50px);
  -ms-transform: translate(-50%, -50%) translateZ(50px);
  -o-transform: translate(-50%, -50%) translateZ(50px);
  transform: translate(-50%, -50%) translateZ(50px);
}

/*# sourceMappingURL=/main.77bb5cfd.css.map */